.footer{
    background-color: black;
    color: white;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
}

.texto-footer{
    font-size: 1rem;
    font-weight: 500;
}


