.Header{
    background-color: black;
    color: white;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.imagem-header{
    width: 6rem;
    height: 6rem;
    margin: 0 2rem;
}

.titulo-header{
    font-size: 2rem;
    font-weight: bold;
}